/* general page styling */

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    font: 1.2rem/1.5 rem; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
          /* custom font for traditional japanese look */
@font-face
{
          font-family: judoFont;
          src:url('/assets/fonts/japanese_2020/JAPANESE_2020.ttf')
}
footer{
          background-color: #973640;
          margin:auto;
          
}
iframe[seamless] {
  display: block;
}





/* Index/Home template styling*/

          /* Arrow buttons for calendar card */
.prevButton
{
          background-image: url(/assets/images/arrow-left-circle-fill.svg);
          background-repeat: no-repeat;
          background-position: center;
}
.nextButton
{
          background-image: url(/assets/images/arrow-right-circle-fill.svg);
          background-repeat: no-repeat;
          background-position: center;
          
}

.centreMainCol
{
          align-self: flex-start;
}
.rightMainCol
{
          align-self:flex-start;
}
.leftMainCol
{
          align-self:flex-start;
}
          /* CSS animation for centre column items */
.mainItem
{
          
          background-size:cover;
          width:100%;
          height:300px;
          border-radius: 3px;
          display:flex;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          margin:auto;
          justify-content: center;
          max-width: 900px;
          text-align: center;
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px rgb(145, 58, 58);
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-property: box-shadow, transform;
          transition-property: box-shadow, transform;
          
}
.mainItem:hover, .mainItem:active, .mainItem:focus 
{
         
          box-shadow: 0 10px 10px -10px rgba(255, 255, 255, 0.5);
          -webkit-transform: scale(1.05);
          transform: scale(1.05);
          
}
          /* Different styling if the inserted central column element is a link  */
.centreAnchorItemText
{
          color:#973640;
          font-family: judoFont;
}
.centreAnchorElmt > img
{
          margin-top: 10px;        
}

          /* left column items styling and hover effect */
.leftItem
{

          opacity: 0.5;
          position:relative;

}
.leftItem:hover
{
          opacity: 1;
          transition:1s opacity;
}
.leftItem > .card > .card-body > .card-text 
{
                    
          color:#ff0000;
          font-size:xx-large;
          text-decoration: none;
 
}

.rightItem
{
          background-color: var(--bs-white);
          width:13rem;
}

          /* Different styling if the inserted central column element is a link  */
.centreAnchorItemText
{
          color:#973640;
          font-family: judoFont;
}
.centreAnchorElmt > img
{
          margin-top: 10px;        
}


.recentEventsCard a 
{
          text-decoration: none;
          color:#973640
}
          /* calendar card styling   */
.calendarHead
{
          background-color: var(--bs-light);
}
.calendarItemDate
{
          color:#973640;
          text-align:left;
}
.calendarItemInfo
{
          text-align:left;
}


/* Header styling  */

          /* navigation bar */
.nav-link{
          color:white;
         font: 1rem/1.5 judoFont;
}
          /*custom navbar styles & effects  */
a.nav-link:hover, a.nav-link:active, a.nav-link.active
{
          color: var(--bs-black) ;
}
#judoButton
{
          width:40px;
          height:30px;
}
.navigationBar
{
          background-color: #973640;
        
}

.headerNavBarBorder
{
         height:20px;
}
          /* Bootstrap's carousel custom styling */
.newsReelBorder
{
         border-bottom:25px solid #973640;
}
.carousel
{
         
          height:250px;
}
.carousel-caption
{
          background-color:#97364073;
          height:50px;
          padding:0;
          margin:auto;
          width:40%;
}
.carousel-caption > a 
{
          text-decoration: none;
          color:white;
          
}
#carousel-controls
{
          
          opacity:0.4;
          background-color:rgb(0,0,0);
}
.carousel-item > img 
{
          margin-right:auto;
          margin-left:auto;
          height:250px;
          width:640px;

}

          /* Grayscale Dojo image container styling  */
.headerImageContainer
{
          width:100%;
          height:300px;
          padding-bottom:10px;
          margin:auto;
          text-align: center;
          align-items: center;
          background-size: 100%;
          background-position: 50%;
          background-repeat:no-repeat;
          border-bottom:5px solid #973640;
          background-image:url('../../assets/images/dicky-dojo.jpg')
}
          /* Dojo logo overlayed on top of the Dojo image  */
.headerImage
{
         
          width:75px;
          height:75px;
          border-radius:50px;
          padding:0;
         
}



/* media page styling */

.mediaItem > img
{
          width:50%;
          height:50%;
}
.mainFooterContainer
{
          min-height:5vh;
          overflow:hidden;
}
.mediaHeadline
{
          color:#973640;
          text-align: center;
          font: 20px judoFont;
}



/* news page styling */


.newsItemContainer 
{
          padding:0;
          box-shadow: 0 4px 8px 0 rgba(158, 158, 158, 0.685), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          transition:1s box-shadow;
          height:90%;
          width:100%;
         
}

.newsItemImgAnchor
{
          width:100%;
          text-align: center;
          opacity:0.9;
}

.newsItemText
{
        z-index: 2;
        margin-bottom:0px;
         
       
}
.newsItemDate
{
          margin-bottom:0px;
}
.textContainer
{
          position:absolute;
          bottom:20%;
          text-align: center;
          left:50%;
          transform:translate(-50%,-50%);
          color:white;
          background-color: #97364075;
}

.newsReadMoreAnchor
{
          color:white;
          text-decoration: none;
}


.newsCaption
{
          position:relative;
          top:-10%;
          transform: translate(0,-10%);

}
.newsItem
{
          width:50%;
          
}
.newsFigure
{
          /* margin-bottom:-7%;
          width:100%;
          height:260px; */
          max-height:80%;
          height:70%;

}
.newsFigure > img
{
          max-height:230px;
          height:230px;
          
}
.newsHeadline
{
          position:relative;
         
          background-color: #973640b9;

}
.newsReadMore
{
         
          text-align:center;
          background-color:#3b3b3bd8;
          z-index:2;
}
          /*  news piece caption custom read more arrow animation  */
.animateButtonForward
{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.animateButtonForward:hover, .animateButtonForward:focus, .animateButtonForward:active 
{
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
          /* news piece custom hover effect */
.newsItemSelected {
  
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.newsItemSelected:hover, .newsItemSelected:focus, .newsItemSelected:active {
  box-shadow: 0 10px 10px -10px rgb(255, 255, 255);
}


/* results page styling  */
#eventList
{
          padding:15px;
          margin:5px;
}
#eventItem
{
          color:white;
}
          /* hover table row effect */
#eventList:hover
{
          box-shadow: 0 4px 8px , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          transition:1s box-shadow;
}


.resultsTable
{
          color:white;
          margin:0;
          text-align:center;
          
}
          /* avoiding the hover effect on the table  header entries*/
#resultsTableHeader
{
          font-size:x-large;
          font-weight: bold;
          text-align:center;
         
          -webkit-transform: none;
          transform: none;
          box-shadow:none;
          -webkit-transition-duration:0s;
          transition-duration: 0s;
          -webkit-transition-property:0s;
          transition-property:unset;
}

/* CSS to highlight hovered table row */
.underlineSelection
{
   
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.underlineSelection:before 
{
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color:#973640;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.underlineSelection:hover:before, .underlineSelection:focus:before, .underlineSelection:active:before 
{
   -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 4px;
}
.resultsContainer
{
          padding-bottom:1%;
          

}
.resultsContainer h3,  h2
{
          color:#973640;
          font-family: -apple-system;
         
}
.searchButton
{
          background-color: #973640;
          color: white;
}


/* contact us page styling */

#mapLocation
{
          border-radius: 8px;
}

.joinButton
{
          background-color:#973640;
          color:white;
}
.msgButton
{
          background-color: #973640;
          color:white;
          margin-left:80%;
}
#submitJoinBtn
{
          background-color: #973640;
          color:white;
}

/* article page styling  */
.headerImageAnchor 
 {
           max-width:1484px;
 }

 #newsHeadlineContainer > h2
 {
           font-family:judoFont;
 }


 .figure-caption
 {
           background-color:#973640;
           color:white;
 }

.articlePartContainer
{
          font-size:large;
}

/* Footer */

.footerListContainer
{
          text-align:left;
}
.footerListContainer ul li 
{
          list-style-type:none;
          display:inline-block
}
 
/* css styling for responsiveness not provided by bootstrap */
@media only screen and (max-width:767px)  
{
          
          .headerImage 
          {
                    width:60px;
                    height:60px;
                    
          }
          
          .newsFigure
          {
                   
                    height:auto;

          }

          .newsItem
          {
                    margin-left:1rem;
                    width:100%;
          }
          .newsCaption
          {
                    position:relative;
                    top:-20%;
                    transform:translate(0,-20%);
          }
          .carousel-item > img
          {
                    width:80%
                    
          }
          .centreMainCol
          {
                    order:1;
          }          
          .leftMainCol
          {
                    align-self:flex-start;
                    order:2;
          
          }
          .rightMainCol
          {
                    align-self:flex-start;
                    order:3;
                    
          }
          .leftItem > .card >img 
          {
                    height:200px;

          }
          .leftItem > .card > .card-body > .card-text 
          {
                    font-size: medium;
          }
          .card-title   
          {
                    font: 1rem/1.5 judoFont;
          }
          .rightItem
          {
                    width:100%;
          }
          
          .headerMainImage
          {
                    width:50px;
                    height:50px;
          }
          #dojoListRow
          {
                    order:2;
          }

                    
          
          .articlePartContainer
          {
                    font-size:medium;
                    width:400px;
                    margin-left:-35%;
                    
          }
          .articlePartItem
          {
                    width:100%;
                    
          }


}

