<header>

          
          <div id='top' class='container-fluid row bg-dark rounded-1 headerNavBarBorder ms-0 me-0'></div>

          <nav id='navigation-element' class="navbar navbar-expand-lg rounded-1 navigationBar" aria-label="navigation bar">
                    <div class="container-fluid navBarButtonContainer">
                              <button class="navbar-toggler collapsed" style='width:60px; height:34px;'type="button" data-bs-toggle="collapse"
                                        data-bs-target="#judonavbar" aria-controls="judonavbar"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                       
                                        <a class="navbar-brand">
                                                  <img alt='judogi button for navigation bar menu toggle'id='judoButton' src='/assets/images/judo.png' width='24'
                                                            height='24'>
                                        </a>
                              </button>

                              <div id='judonavbar' class="navbar-collapse justify-content-md-center collapse">
                                        <ul class="navbar-nav navigationItemsList">
                                                  <li class="nav-item">

                                                            <a class="nav-link" aria-current="page"
                                                                      href="/news/News.html"aria-label='navigation item Judo news page'>Judo News</a>
                                                  </li>

                                                  <li class="nav-item">
                                                            <a class="nav-link" href="/"
                                                                      tabindex="-1" aria-disabled="true"aria-label='navigation item home page'>Home</a>
                                                  </li>
                                                  <li class="nav-item">
                                                            <a class="nav-link" href="/media/Media.html"
                                                                      tabindex="-1" aria-disabled="true" aria-label='navigation item media page'>Media</a>
                                                  </li>
                                                  <li class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle" id="dropToggle"
                                                                      data-bs-toggle="dropdown"
                                                                      aria-expanded="false" aria-label='navigation item see more links button'>More</a>
                                                            <ul class="dropdown-menu" aria-labelledby="dropToggle">
                                                                      <li><a class="dropdown-item" href="/results/Results.html"  aria-label='navigation item results page'>Results</a>
                                                                      </li>
                                                                      
                                                                      <li><a class="dropdown-item" href="/about/Contact.html"  aria-label='navigation item contact us page'>Contact
                                                                                          us</a></li>
                                                            </ul>
                                                  </li>
                                        </ul>
                              </div>
                    </div>
          </nav>

          <div id='bottom' class='container-fluid ms-0 me-0 row justify-content-center bg-dark rounded-1 headerNavBarBorder'></div>
         
          <div  class='container-fluid row justify-content-center align-items-start bg-dark rounded-1 headerImageContainer'>
                    <a aria-label='logo-anchor-quicklink-home'  class='me-1  headerImageAnchor' href="/">
                    <img alt='logo image' src='/assets/images/Home_intro.jpg'
                                        class='headerImage'>
                    </a>
                  
          </div>
          {{^news}}
          <div aria-label='carousel slideshow with latest 3 newspieces' class='container-fluid bg-dark newsReelBorder'>
                    <div  class='container-sm bg-dark newsReelContainer'>
          
                              <div id="newsReelControls" class="carousel slide" data-bs-ride="carousel">
          
                                        <div class="carousel-inner">
                                                  {{#carouselItems}}
                                                  <div class="carousel-item active">
                                                            
                                                            <img src="{{carouselItemFirst}}" class="d-block" alt="first slide image">
                                                  
                                                            <div class="carousel-caption d-none d-md-block">
                                                                     
                                                                      <a aria-label='first slide link' href='{{carouselItemFirstLink}}'><p aria-label='first slide caption'>{{carouselItemFirstCaption}}</p></a>
                                                            </div>
                                                  </div>
          
                                                  <div class="carousel-item">
                                                            <img src="{{carouselItemSecond}}" class="d-block" alt="second slide image">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                      <a aria-label='second slide link' href='{{carouselItemSecondLink}}'>
                                                                      <p aria-label='second slide caption'>{{carouselItemSecondCaption}}</p>
                                                                      </a>
                                                            </div>
                                                  </div>
          
                                                  <div class="carousel-item">
                                                            <img src="{{carouselItemThird}}" class="d-block" alt="third slide image">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                    <a aria-label='third slide link' href='{{carouselItemThirdLink}}'>
                                                                      <p aria-label='third slide caption'>{{carouselItemThirdCaption}}</p>
                                                                      </a>
                                                            </div>
                                                  </div>
          
                                                  {{/carouselItems}}
                                        </div>
                                        <button aria-label='carousel button prev slide' class="carousel-control-prev" type="button" data-bs-target="#newsReelControls"
                                                  data-bs-slide="prev">
                                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                  <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button aria-label='carousel button next slide' class="carousel-control-next" type="button" data-bs-target="#newsReelControls"
                                                  data-bs-slide="next">
                                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                  <span class="visually-hidden">Next</span>
                                        </button>
                              </div>
          
          
                    </div>
          </div>
          {{/news}}
          
                  
</div>

</header>